<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @person.type %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Surname:</b>
  <%= @person.surname %>
</p>

<p>
  <b>Born on:</b>
  <%= @person.born_on %>
</p>

<p>
  <b>Dead on:</b>
  <%= @person.dead_on %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
