<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>
  <b>First on:</b>
  <%= @movie.first_on %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
