<h1>Listing collaborations</h1>

<table>
  <tr>
    <th>Role</th>
    <th>Movie</th>
    <th>Person</th>
    <th>Started on</th>
    <th>Stopped on</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collaborations.each do |collaboration| %>
  <tr>
    <td><%= link_to(collaboration.role.name, collaboration.role) %></td>
    <td><%= link_to(collaboration.movie.title, collaboration.movie) %></td>
    <td><%= link_to(collaboration.person.label, collaboration.person) %></td>
    <td><%= collaboration.started_on %></td>
    <td><%= collaboration.stopped_on %></td>
    <td><%= collaboration.note %></td>
    <td><%= link_to 'Show', collaboration %></td>
    <td><%= link_to 'Edit', edit_collaboration_path(collaboration) %></td>
    <td><%= link_to 'Destroy', collaboration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collaboration', new_collaboration_path %>
