<!DOCTYPE html>
<html>
<head>
  <title>Formized</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= formize_include_tag %>
  <%= javascript_include_tag "jquery-ui", "combo_box" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="menu">
  <% for x in [:people, :movies, :roles, :collaborations] -%>
  <%=link_to(x.to_s.humanize, {:controller=>x, :action=>:index}, :class=>(self.controller_name.to_sym == x ? 'current' : ''))  -%>
  <% end -%>
</div>
<div id="main"><%= yield %></div>
</body>
</html>
